body{
    background-color: rgb(26, 44, 44);
    color: antiquewhite;
    margin: 10px;
}
.navbar ul{
    list-style-type: none;
    background-color: darkslategray;
    border-radius: 30px;
    overflow: hidden;
    padding: 10px;
    width: 1300px;
   
    margin: 0 auto;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    margin: 70px auto 0 auto;
    transition: width 0.6s, box-shadow 0.6s;
}
.navbar ul:hover{
    width: 1400px ;
    box-shadow: 0 50px 20px black;
}
.navbar a{
    color: antiquewhite;
    text-decoration: none;
    padding: 10px 10px;
    display: block;
    text-align: center;
   

}
.navbar a:hover{
    color: black;
    
}
.navbar li{
    float: right;
    margin-right: 15px; 
    font-size: 20px;
    font-weight: bold;
    
}
.navbar li:first-child {
    float: left;
    font-weight: bold;
    
}
main {
    width: 1300px;
    margin: 20px auto;
    text-align: left;
    font-size: 40px;
    padding: 20px;
}
.center-img {
    display: block;
    margin: 100px auto;
    width: 500px;
    background-color:darkslategray;
    border-radius: 9%;
    height: auto;
    box-shadow: 0px 0 50px black;
    transition: box-shadow 0.3s,width 0.3s;
}
.center-img:hover {
    
    box-shadow: 0 0 200px black;
    width: 700px;
}


#pHome:hover {
    transform: translateY(-10px);             
    
    box-shadow: 0 50px 20px black;
}
#pHome {
    background-color: darkslategray;
    border-radius: 5px;
    padding: 5%;
    transition: transform 0.3s, box-shadow 0.3s; 
    box-shadow: 0px 0px 100px black;
    border-radius: 10px;
}


#pHome:hover {
    transform: translateY(-10px);             
    box-shadow: black;
    
}
#pContact{
    background-color: darkslategray;
    border-radius: 5px;
    padding: 5%;
    transition: transform 0.3s, box-shadow 0.3s; 
    box-shadow: 0px 0px 100px black;
    border-radius: 10px;
    transition: box-shadow 0.6s;
}

#pAbout{
    background-color: darkslategray;
    border-radius: 5px;
    padding: 5%;
    transition: transform 0.3s, box-shadow 0.3s; 
    box-shadow: 0px 0px 10px black;
    border-radius: 10px;
}
#pAbout:hover{
     box-shadow: 0 0px 200px black;
     transform: translateY(14px);
}
